/*
    Hoja de estilos de no se qué
    Martín José Morata García.
*/

#Der{
    text-align: right;
    text-decoration: none;
    
}
main{
    text-align: center;
    padding-top: 10%;

}
#rig{
    padding-bottom: 10px;
}
input{
    border-radius: 10%;
    height: 20px;
    
}
a{
    text-decoration: none;
    color: black;
}
main img{
    width: 50%;
    
}